rgi-content@font-face {
  font-family: "Muli-Regular";
  src: url("../../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../../fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
  font-family: "Muli-Bold";
  src: url("../../fonts/muli/Muli-Bold.ttf"); }

.registration-text {
  font-family: "Muli-Regular";
  color: #000000;
  font-size: 14px;
  margin: 0;
}

.inner {
  min-width: 500px;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 10px;
  background: url("."); }
.inner h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Muli-Bold";
  text-align: center;
  margin-bottom: 32px;
  color: #333;
  letter-spacing: 2px; }

.innerb {
  min-width: 500px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 170px;
  background: url("."); }
.innerb h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Muli-Bold";
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  letter-spacing: 2px; }

.innerprofile {
  min-height: 100px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 170px;
  background: url(".");
}

.bgprofile {
  min-width: 38%;
  width: 400px;
  position: center;
  margin: auto;
  background: rgba(250, 250, 250, 0);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #252525;
}

.bgprofile-rank-cs1 {
  min-width: 40%;
  min-height: 70%;
  position: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.centerprofile{
  min-width: 500px;
  margin: auto;
  text-align: center;
  padding-bottom: 170px;
  background: url(".");
}

.centerprofilepassword{
  min-width: 500px;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding-bottom: 170px;
  background: url(".");
}

.imgprofile {
  width: 150px;
  height: 150px;
  size: auto;
}

.size-btn {
  text-align: center;
  font-size: 15px;
  color: #131313;
  width: 200px;
  border-radius: 50px;
  font-weight: 500;
  border: none;
  background: #ffb320;
  cursor: pointer;
  text-transform: none;
  padding: 10px 28px;
}

.size-btn:hover {
  color: #fdb221;
}

.user-panel-profile {
  margin: auto;
  font-family: "Muli-SemiBold";
}

.user-panel-profile a {
  font-size: 15px;
  color: #131313;
}

.formwidth {
  width: 60%;
  margin: 0 auto;
}

form {
  width: 100%;
  padding-left: 0px;
  margin: 0 auto;}

.form-group {
  display: flex; }
  .form-group .form-wrapper {
    width: 50%; }
    .form-group .form-wrapper:first-child {
      margin-right: 20px; }

.form-wrapper {
  margin-bottom: 15px; }
  .form-wrapper label {
    margin-bottom: 9px;
    display: block; }

/*------------------
form-wrapper2: writing in white
---------------------*/
.form-wrapper2 {
  min-width: 30%;
  margin: auto;
  color: #ffffff;
  margin-bottom: 9px;}
.form-wrapper2 label {
  margin-bottom: 9px;
  display: block; }
.form-wrapper2:first-child {
  margin-right: 10px; }

.form-wrapper-login {
  min-width: 30%;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10px}
.form-wrapper2-login label {
  margin-bottom: 9px;
  display: block; }

.login-control {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: #ebebeb; }

.form-control {
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: #ebebeb; }
  .form-control:focus {
    border: 1px solid #ae3c33; }

.small-form-control {
  border: 2px solid #ccc;
  display: block;
  width: 40%;
  height: 40px;
  margin: auto;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: #ebebeb; }
.form-control:focus {
  border: 1px solid #ae3c33; }

button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ae3c33;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f11a09;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder; }
  .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: '\f26b'; }


.container-profile {
  background: #252525;
}

.container-profile .ti-notic {
  display: inline-block;
  padding: 8px 21px;
  font-size: 12px;
  font-weight: 700;
  color: #131313;
  text-transform: uppercase;
  background: #ffb320;
}

.container-profile .ti-content {
  padding: 38px 24px;
  overflow: hidden;
}

.container-profile .ti-thumb {
  width: 168px;
  height: 178px;
  float: left;
}

.container-profile .ti-text {
  padding-left: 195px;
}

.container-profile .ti-text h4 {
  color: #ffb320;
  margin-bottom: 12px;
}

.container-profile .ti-text ul {
  list-style: none;
  margin-bottom: 12px;
}

.container-profile .ti-text ul li {
  color: #fff;
  font-size: 13px;
  margin-bottom: 6px;
}

.container-profile .ti-text ul li span {
  color: #9a9a9a;
}

.container-profile .ti-text p {
  font-size: 13px;
  margin-bottom: 0;
}

.container-profile .ti-text p span {
  font-weight: 500;
  color: #ffb320;
}

.background-register {
  max-width: 1150px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.28);
}

.background-postvideo {
  max-width: 1150px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.28);
}

.profile-panel {
  color: #ffffff;
}

.profile-panel a {
  font-size: 14px;
  color: #131313;
}

.space-bottom {
  margin-bottom: 20px;
}