Hi {{ name }}! <br>
<br>

Your password has been changed successfully.<br>
If you are not responsible for that change, you can reset your password <a href="{{ url('login_page') }}">here</a>!<br>

<br>
Thanks!<br>

<br>
The team HydraMind !<br>