{# templates/emails/forget_password.html.twig #}
<h3>New password!</h3>

Hi {{ name }}! <br>
<br>

Here is your new password: {{ password }} <br>
{# example, assuming you have a route named "login" #}
You can login by clicking <a href="{{ url('login_page') }}">here</a>!<br>

<br>
Thanks!<br>

<br>
The team HydraMind !<br>