Hi {{ name }}! <br>
<br>

Welcome to the HydraMind Gaming Site!<br>
You are now a member of this site, to connect click <a href="{{ url('login_page') }}">here</a>!<br>

<br>
Have a nice day!<br>

<br>
The team HydraMind !<br>
