{% extends "Header-Footer/header_connected.html.twig" %}
{% block header %}
    <link rel="stylesheet" href="{{ asset('css/register-login/style.css') }}"/>
{% endblock %}
{% block content %}
    <section class="recent-game-section set-bg" data-setbg="{{ asset('img/profile-rank/Profile_rank_OW1.jpg') }}">
        <div class="bgprofile-rank-cs1">
            <div class="inner-profile-rank-cs1 registration-text">
                <div class="centerprofilepassword">
                    <form method="post" action="{{path('change_password')}}" class="home-form">
                        <br><br><h2 class="white">Change Password</h2><br>
                        {% for message in app.flashes('error') %}
                            <div align="center" class="white">
                                {{ message }}
                            </div>
                        {% else %}
                            <br>
                        {% endfor %}
                        <br><br>
                        <div class="form-wrapper2">
                            <label for="inputOldPassword">Old Password </label>
                            <input type="password" id="inputOldPassword" name="_oldpassword" class="form-control" placeholder="Password" required>
                        </div>
                        <br>
                        <br>
                        <div class="form-wrapper2">
                            <label for="inputPassword">New Password </label>
                            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-wrapper2">
                            <label for="inputPasswordbiss">Confirm New Password </label>
                            <input type="password" id="inputPassword" name="_passwordbiss" class="form-control" placeholder="Password" required>
                        </div><br>
                        <button type="submit"> Change </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}