{% extends "Header-Footer/header_connected.html.twig" %}
{% block header %}
    <link rel="stylesheet" href="css/register-login/style.css"/>
{% endblock %}
{% block content %}
    <section class="set-bg" data-setbg="img/profile/Agarest-Sieghart.jpg">
        <div class="bgprofile">
            <div class="bginsideprofile innerprofile registration-text">
                <div class="centerprofile">
                    <div class="descriptionprofile">
                        <h2>My Profile</h2><br><br>
                        <table border="0" align="center">
                            <tr>
                                <th>
                                    <img src="img/authors/4.jpg" class="imgprofile">
                                </th>
                                <th>
                                    <div class="container">
                                        <p>Surname <br> Joined since ____________ <br>
                                            CSGO : ____________ Overwatch : __________ <br>
                                            PUBG : ______________________</p>

                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <button href="" class="size-btn">Games Infos</button>
                    <button href="" class="size-btn">Change Password</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}