{% extends "Header-Footer/header_connected.html.twig" %}
{% block header %}
    <link rel="stylesheet" href="css/register-login/style.css"/>
{% endblock %}
{% block content %}
    <section class="set-bg" data-setbg="img/profile/Agarest-Sieghart.jpg">
        <div class="bgprofile">
            <div class="bg-inside-profile innerprofile registration-text">
                <div class="centerprofile">
                    <div class="descriptionprofile">
                        <h2>My Profile</h2><br><br>
                        <table border="0" align="center">
                            <tr>
                                <th>
                                    <img src="img/authors/4.jpg" class="imgprofile">
                                </th>
                                <th>
                                    <div class="container">
                                        <p>Surname <br> Joined since ____________ <br>
                                            CSGO : ____________ Overwatch : __________ <br>
                                            PUBG : ______________________</p>
                                    </div>
                                </th>
                            </tr>
                        </table>
                        <br><br>
                        <div class="size-btn user-panel-profile space-bottom" align="center">
                            <a href="profile_rank">Games Infos</a>
                        </div>
                        <div class="size-btn user-panel-profile" align="center">
                            <a href="profile_rank">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}